<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>官方社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/community.css">
</head>

<script>

    $(document).ready(function(){
        $("#title").blur(function(){
                if($("#title").val()==""){
                    $("#titlespan").text("Please Improving title");
                }
            });
        $("#description").blur(function(){
                if($("#description").val()==""){
                    $("#desspan").text("Please Improving description");
                }
            });
        $("#tag").blur(function(){
                if($("#tag").val()==""){
                    $("#tagspan").text("Please Improving tag");
                }
            });
        $("#title").focus(function(){
            $("#error").css("display","none");
        });
        $("#description").focus(function(){
            $("#error").css("display","none");
        });
        $("#tag").focus(function(){
            $("#error").css("display","none");
        });
    });



    function check() {
        //提交的时候检测文本框
        if ($("#title").val() == "" || $("#description").val() == "" || $("#tag").val() == "") {
            $("#error").text("Something Error Here!");
            $("#error").css("display", "");
            return false;
        }
    }
    
    window.onload = function () {
        var item = window.localStorage.getItem("localS");
        if(item == "true"){
            window.close();
            window.localStorage.removeItem("localS");
        }
    }


</script>

<body>

<div th:insert="~{menu :: menu}"></div>

<!-- 发起弹出框 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">发起问题</h4>
            </div>
            <form action="/publish.action" onsubmit="return check();">
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="写下你的问题..." id="title" name="title"><span id="titlespan"></span>
                    </div>
                    <textarea id="description" class="form-control" rows="3" placeholder="问题背景、条件等详细信息..." name="description"></textarea><span id="desspan"></span><br>
                    <input list="categrioes" class="form-control" placeholder="选择分类" name="tag" id="tag"><span id="tagspan"></span>
                    <datalist id="categrioes" >
                        <option value="科技" />
                        <option value="人文"/>
                        <option value="爱好"/>
                        <option value="bala"/>
                    </datalist>
                    <br>
                    <input type="text" class="form-control" placeholder="创建或搜索添加新话题" style="width: 40%">
                </div>
                <div class="modal-footer">
                    <div class="alert alert-warning alert-dismissible" role="alert" style="display: none" id="error">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-success" id="btnSubmit">发布</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"> 发现</span></h2>
            <hr>
            <div th:if="${pageBean != null}">
                <div class="media" th:each="question:${pageBean.pageRecode}">
                    <div class="media-left">
                        <a href="#" th:if="${question.user!=null}">
                            <img class="media-object img-circle" th:src="${question.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a th:href="'/question/'+${question.id}" th:text="${question.title}"></a>
                        </h4>
                        <span class="topic-info">• <sapn th:text="${question.commentCount}"></sapn> 个评论 • <sapn th:text="${question.viewCount}"></sapn> 次浏览 • <sapn th:text="${question.likeCount}"></sapn> 次收藏 • <sapn th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></sapn> 发表</span>
                    </div>
                    <hr>
                </div>
            </div>

            <!-- 分页 -->
            <nav aria-label="Page navigation" th:align="right" th:if="${pageBean != null && pageBean.totalPage>1}">
                <ul class="pagination">
                    <li th:if="${pageBean.totalPage>5 && pageBean.page!=1}">
                        <a aria-label="Previous" th:href="@{'/?page=${pageBean.page-1}'}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li  th:each="page:${pageBean.pages}">
                        <a th:href="@{'/?page='+${page}}" th:text="${page}"></a>
                    </li>
                    <li>
                        <a th:href="@{'/?page=${pageBean.page+1}'}" aria-label="Next" th:if="${pageBean.totalPage>5 && pageBean.totalPage != pageBean.page}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题</h3>
        </div>
    </div>
</div>

</body>
</html>